.container-fluid{
  /* background-image: url(../images/background.jpg); */
  background-color: #e4eddb;
  height: 100%;
}

.navbar-brand{
  height: 100%;
  width: 30%;
}

#logo{
  color: rgb(250, 184, 61);
  font-family: 'Courier New', Courier, monospace;
  font-size: 7vh;
  font-weight: bold;
}

#logo-footer{
  color: rgb(250, 184, 61);
  font-family: 'Courier New', Courier, monospace;
  font-size: 4vh;
  font-weight: bold;
}

#beelogo{
  height: 7vh;
  width:7vh
}

#beelogo-footer{
  height: 4vh;
  width:4vh
}

.jumbotron{
  position: relative;
  height: 400px;
  padding-top: 3%;
  margin-bottom: 2vh;
  background: url("../images/jumbocorped.jpg");
  background-size: cover;
}

.card-title{
  font-family: 'Rubik', sans-serif;
  font-weight: bolder;
  font-size: 40px;
  margin: 0 auto;
}

.btn{
  font-family: 'Bree Serif', serif;
}

.button{
  font-family: 'Skranji', cursive;
}

#card1{
  background-color:rgb(248, 246, 213);
  overflow: auto;
}

#card2{
  height: 100%;
  width:100%;
  background-color:rgb(248, 246, 213);
  overflow: auto;
}

#card3{
  height: 100%;
  width: 100%;
  background-color:rgb(248, 246, 213);
  overflow: auto;
}

#card3body{
  height: 100%;
  width: 100%;
}

.card-body{
  background-color: #fff1c5;
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.shadow:hover {
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.joinButtons{
  position: relative;
  width: 7rem;
  height: 2.5rem;
  right: 1.5rem;
  top: 1.5rem;
}

h4{
  margin: .25rem 1vw;
}

h5{
  margin: .25rem 1vw;
}

iframe{
  border: 1px solid;
}

/* #chatBtn{
  position: fixed;
  top: 0;
  right: 0;
} */

/* #chatroom{
  padding-left: 4vw;
  width: 100%;
  margin-bottom: 3%;
  z-index: 99;
} */

#status{
  height: 100px;
  width: 100%;
  color: rgb(58, 52, 52);
  background-color: #f5e9ff;
  overflow: auto;
}

/* animation circle */
h1.ml8 {
    position: absolute;
    font-weight: 900;
    font-size: 4.5em;
    color: #fff;
    width: 100%;
    height: 1em;
    margin: 0 auto;
    left: -1%;
    bottom: 8%;
  }

  h1{
    margin-top: 100px;
  }
  
  .ml8 .letters-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 1em;
    text-align: center;
  }
  
  .ml8 .letters {
    position: relative;
    z-index: 2;
    display: inline-block;
    line-height: 0.7em;
    right: -0.12em;
    top: -0.2em;
    text-align:center;
  }
  
  .ml8 .bang {
    font-size: 1.4em;
    top: auto;
    left: -0.06em;
  }
  
  .ml8 .circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
  
  .ml8 .circle-white {
    width: 3em;
    height: 3em;
    border: 2px dashed white;
    border-radius: 2em;
  }
  
  .ml8 .circle-dark {
    width: 2.2em;
    height: 2.2em;
    background-color: #4f7b86;
    border-radius: 3em;
    z-index: 1;
  }
  
  .ml8 .circle-dark-dashed {
    border-radius: 2.4em;
    background-color: transparent;
    border: 2px dashed #4f7b86;
    width: 2.3em;
    height: 2.3em;
  }
  /* end animation circle */

  /* line display efect */
  .ml1 {
    font-weight: 900;
    font-size: 7.5vh;
    margin-top:0px;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    text-align: center;
    color: rgb(245, 243, 243);
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .footer-distributed{
    background-color: #343a40;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 25px 50px;
    margin-top: 10px;
  }
  
  .footer-left,
  .footer-center,
  .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  .footer-left{
    width: 40%;
  }

  h3 span{
    color:  #5383d3;
  }
  
  /* Footer links */
  .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }

  .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  .footer-center{
    width: 35%;
  }
  
  .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
  }
  
  /* Footer Right */
  .footer-right{
    width: 20%;
  }
  
  .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-icons{
    margin-top: 25px;
  }
  
  .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  

  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }
  /* end line effect  */

  /* scrollbar */
::-webkit-scrollbar-thumb:horizontal { 
    width: 10px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-track-piece {
    background-color:#343a40;
}

::-webkit-scrollbar {
    width: 13px; 
}

::-webkit-scrollbar-thumb:vertical { 
    background-color:#4f7b86;
}

::-webkit-scrollbar-thumb:hover { 
    height: 15px;
    background-color: #4f7b86;
    -webkit-border-radius: 4px;
}

/* medie */
@media screen and (max-width: 1200px){
  .card-title{
    font-size:1.5rem;
  }

  .card-body{
    padding: 25px 3px;
  }
}

@media screen and (max-width: 375px){
    .mb-2{
      height:3px;
    }
}

